<header class="category-header flex">
  <%= link_to users_path do%><i class="fa fa-arrow-left ham"></i><% end %>
  <h2>RESET PASSWORD GUIDE</h2>
  <input type="submit" value="Send" form="confirmation-form" class="save-button">
</header>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), data: { turbo: false }, html: {"data-turbo": "false", method: :post, class: "record-form", id: "confirmation-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "Email", class: "text-box first last" %>
  </div>
<% end %>

<div class="links-div flex">
  <%= render "devise/shared/links" %>
</div>


