<div id="<%= dom_id record %>">
  <p class="category-total-expense flex">
    Record N'<%=record.id %> <strong>Name: <%= record.name %></strong>
  </p>

  <p class="category-total-expense">
    Amount:   <strong>$<%= record.amount %></strong>
  </p>

  <p class="padding small"><%= record.created_at.strftime('%d %b %Y at %I %M %p') %></p>
</div>
