<p style="color: green"><%= notice %></p>

<%= render @record %>

<div>
  <%= link_to "Edit this record", edit_record_path(@record) %> |
  <%= link_to "Back to records", records_path %>

  <%= button_to "Destroy this record", @record, method: :delete %>
</div>
