<!DOCTYPE html>
<html>
  <head>
    <title>RailsLedger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="flash-div">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </div>  
  <%= render partial: "layouts/navbar" %>
  <%= yield %>
  </body>
</html>
